body {
  margin: 0;
  padding: 0;
  background-color: #fffcfc;
  text-align: center;
  overflow-x: hidden;
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fffcfc;
}

.logoContainer {
  text-align: center;
  background-color: #fffcfc;
  margin-bottom: -7rem;
  z-index: 9;
}

.logoContainer img {
  width: 80vw;
  height: auto;
  z-index: 9;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 1vw;
  margin-bottom: 0rem;
  width: 100%;
}

.socialIcons .icon {
  width: 13vw;
  height: auto;
}

.socialIcons img:hover {
  transform: scale(1.3);
  opacity: 0.5;
}

.eyeContainer {
  position: relative;
  width: 90vw;
  margin: 15vh;
}

.eyeWrapper {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}

.eye {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  z-index: 2; 
}

.layer {
  position: absolute;
  top: 25%; 
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  will-change: transform;
}

.layer img {
  width: 100%;
  height: auto;
  display: block;
}

.bioWrapper {
  position: relative;
  width: 100vw;
  height: 150vh;
  background: url('/tree.png') no-repeat center center;
  background-size: cover;
  overflow: visible;
  z-index: 350;
}

.bioSection {
  position: absolute;
  top: 47%;  
  margin: 0 auto; 
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  max-width: 1200px;
  padding: 2rem 1rem;
  background-color: #fffcfc;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Ensure it stays on top of the background */
}

.bioSection h2 {
  font-size: clamp(1.8rem, 2.5vw, 3rem);
  margin-bottom: 1rem;
  color: #333;
}

.bioSection p {
  font-size: clamp(1rem, 1.5vw, 2rem);
  margin-bottom: 2rem;
}

.socialIcons {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 1.5rem;
  padding-bottom: 2rem; 
}

.social-icon {
  width: 110px;
  height: 110px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-icon img {
  width: 100%;
  height: auto;
  border-radius: 50%; 
  background: none; 
  box-shadow: none; 
}

.social-icon:hover {
  transform: scale(1.1); 
}

.footer {
  position: relative;
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;
  z-index: 999;
}

.footer-content {
  padding: 1rem;
  font-size: clamp(0.8rem, 1.5vw, 1.2rem); 
}

.footer-logo {
  max-width: 50px; 
  max-height: 50px;  
  width: auto;
  height: auto;
  margin: -0.3rem; 
}

.footer-content a {
  text-decoration: underline;
  color: #000000;
  transition: color 0.3s ease, transform 0.3s ease; 
}

.footer-content a:hover {
  color: #ff0000;
}

@media (max-width: 768px) {

  .bioWrapper {
    width: 100vw;
    height: 80vh;
    top: -10vh;
  }

  .socialIcons {
    gap: 1rem; 
    padding-bottom: 2rem;
  }

  .social-icon {
    width: 50px;
    height: 50px;
  }
}