html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fffcfc;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.whiteCover {
  position: relative;
  width: auto;
  background-color: #fffcfc;
  /* KEEP THIS VH AT 50 MINIMUM IT CONTROLS THE BOTTOM WHITE LENGTH*/ 
  height: 50vh; 
  transform: translateY(-6pt);
  z-index: 999;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: #fffcfc;
}

.logoContainer {
  text-align: center;
  background-color: #fffcfc;
  margin-bottom: -7rem;
  z-index: 9;
}

.logoContainer img {
  width: 70vw; 
  height: auto;
  z-index: 9;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 1vw;
  margin-bottom: 0rem;
  width: 100%;
}

.socialIcons .icon {
  width: 13vw; 
  height: auto;
}

.socialIcons img:hover {
  transform: scale(1.3);
  opacity: 0.5;
}

.eyeContainer {
  position: relative;
  height: 90vh;
  width: 90vw; 
  transform: translateY(14vh);
}

.eye {
  width: 100%;
  height: auto;
  z-index: 15;
  position: relative;
}

.layer {
  position: absolute;
  min-width: 10vw;
  min-height: 10vh;
  width: 70vw;
  height: auto;
  top: 49vh;
  transform: translateX(-50%); 
}

.layer img {
  max-width: 100%;
  height: auto;
  display: block;
}